@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .scrolling-terminal::-webkit-scrollbar {
    width: 4px;
  }
  .scrolling-terminal::-webkit-scrollbar-track {
    background: #0e0e10;
  }
  .scrolling-terminal::-webkit-scrollbar-thumb {
    background: #39ff14;
  }
  .glow-hover:hover {
    box-shadow: 0 0 4px #39ff14;
    border-color: #39ff14;
  }
}
